* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #010101;
    font-family: 'Helvetica', sans-serif;
    width: 100%;
}

/**::selection { nose pa que puse esto si no anda
    background-color: #99a0fa;
    color: #000;
}*/

body {
    background-color: #F2F2E8;
    box-sizing: border-box;
}

#navbar {
    background-color: #F36F68;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    height: 5rem;
    z-index: 2;
}

#navbar a {
    border: 1px solid #F2F2E8;
    flex-basis: 4%;
    text-transform: uppercase; 
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    background: #F2F2E8;
    margin: 0.8rem 0.6rem 0.9rem;
    padding: 0.8rem 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0rem 0.1rem 0.2rem 0rem, rgba(60, 64, 67, 0.15) 0rem 0.2rem 0.6rem 0.2rem;    
    border-radius: 1.3rem;
}

#navbar a:hover {        
    color: #3B3B3B;
    background-color: #FDEA5E;
    transition: 0.8s;
}

#welcome-section {
    padding-top: 20rem;
    padding-bottom: 18rem;
    box-sizing: border-box;
    display: flex;
}

#welcome-section article:first-child {
    flex: 1;
}

#welcome-section article:last-child {
    flex: 6.5;
}

#welcome-section article h1 {
    font-family: 'EB Garamond', serif;
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    line-height: 3.5rem;
}

#welcome-section article h2 {
    color: #3B3B3B;
    letter-spacing: 0.12rem;
    font-size: 1.8rem;
    line-height: 3rem;
}

#welcome-section article p {
    color: #3B3B3B;
    font-size: 1.5rem;
}
/* debe tener una media query -----
 La altura de la sección de bienvenida debe ser igual a la altura del viewport. */

#projects {
    background-color: #8FE0B5;
    display: flex;
    flex-direction: column; /* va a aplicarse cuando se agregue otra fila de proyectos*/
    padding: 6rem 2rem;
    box-sizing: border-box;
}

#projects .container {
    display: flex;
    justify-content: space-around;
}

#projects .container article {
    background-color: #F2F2E8;
    flex-basis: 27%;
    box-sizing: border-box;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0rem 1.9rem 3.3rem, rgba(0, 0, 0, 0.22) 0rem 1.5rem 1.2rem;
    border-radius: 1.3rem;
    z-index: 1;
}

.imagenes {
    border-radius: 1.3rem;
    opacity: 40%;
    transition: 0.8s;
}

.imagenes:hover {
    opacity: 100%;
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #FDEA5E;
}

footer div {
    margin: 5px;
    padding: 20px;
    width: 100px;
}

.imagenes-footer {
    width: 100%;
}

footer div:nth-child(3):hover {
    transform: scale(1.5)
}

#nb {
    padding: 0px 180px;
    margin: 0;
}

#nb p:first-child {
    box-sizing: border-box;
    margin: 0;
    padding: 120px 0px 10px 590px;
    color: #3B3B3B;
    letter-spacing: 0.12rem;
    font-size: 2.8rem;
    font-weight: bold;
}

#nb p:nth-child(2) {
    font-size: 1.1rem;
    letter-spacing: 0.07rem;
    box-sizing: border-box;
    margin: 0;
    padding: 15px 15px 15px 300px;
    color: #3B3B3B;
    text-align: end;
    line-height: 1.3rem;
}

#nb div div img{
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin: auto;
}