* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #010101;
    font-family: Helvetica, sans-serif;
    width: 100%;
}

/**::selection { nose pa que puse esto si no anda
    background-color: #99a0fa;
    color: #000;
}*/

body {
    background-color: #F2F2E8;
    box-sizing: border-box;
}

#navbar {
    background-color: #F36F68;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    z-index: 2;
    font-size: 1.7rem;
}

#navbar a {
    border: 1px solid #F2F2E8;
    flex-basis: 4%;
    text-transform: uppercase; 
    text-decoration: none;
    text-align: center;
    font-size: 0.78em;
    background: #F2F2E8;
    margin: 8px 6px 9px;
    padding: 8px 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;    
    border-radius: 13px;
    color: #010101;
}

#navbar a:hover {        
    color: #3B3B3B;
    background-color: #FDEA5E;
    transition: 0.8s;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 150px;
    padding-bottom: 170px;
    margin-left: 15%; 
    margin-right: 43%;
    box-sizing: border-box;
}

#welcome-section h1 {
    font-family: 'EB Garamond', serif;
    font-size: 2.1rem;
    letter-spacing: 0.2rem;
    margin: 0;
    margin-bottom: 5px;
    line-height: 2.3rem;
}

#welcome-section h2 {
    color: #3B3B3B;
    letter-spacing: 0.12rem;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 5px;
    line-height: 1.3rem;
}

#welcome-section p {
    color: #3B3B3B;
    font-size: 1rem;
    margin: 0;
    line-height: 1.3rem;
}
/* debe tener una media query -----
 La altura de la sección de bienvenida debe ser igual a la altura del viewport. */

#projects {
    background-color: #8FE0B5;
    display: flex;
    flex-direction: column;
}

#projects .container {
    background-color: #8FE0B5;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 50px 0px 33px 0px; /*cuando se agreguen mas filas manejar margenes por separado de cada child*/
}

#projects .container article {
    background-color: #F2F2E8;
    width: 330px;
    height: 330px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 33px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 13px;
    box-sizing: border-box;
    z-index: 1;
}

.imagenes {
    border-radius: 13px;
    width: 100%;
    opacity: 40%;
    transition: 0.8s;
    box-shadow: inset 20px 20px 13px 13px #F2F2E8; /*no funka*/
}

.imagenes:hover {
    opacity: 100%;
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #FDEA5E;
}

footer div {
    margin: 5px;
    padding: 20px;
    width: 100px;
}

.imagenes-footer {
    width: 100%;
}

footer div:nth-child(3):hover {
    transform: scale(1.5)
}

#nb {
    padding: 0px 180px;
    margin: 0;
}

#nb p:first-child {
    box-sizing: border-box;
    margin: 0;
    padding: 120px 0px 10px 590px;
    color: #3B3B3B;
    letter-spacing: 0.12rem;
    font-size: 2.8rem;
    font-weight: bold;
}

#nb p:nth-child(2) {
    font-size: 1.1rem;
    letter-spacing: 0.07rem;
    box-sizing: border-box;
    margin: 0;
    padding: 15px 15px 15px 300px;
    color: #3B3B3B;
    text-align: end;
    line-height: 1.3rem;
}

#nb div div img{
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin: auto;
}